.comic-list {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 100px 100px 0px 100px;

  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.comic-list ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.comic {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  -webkit-box-pack: justify;

  transition: all 0.2 ease 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;

  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  border-bottom-color: rgb(255, 0, 0);
}

.comic-infos {
  display: flex;
  flex-direction: column;
}

.comic-infos h1 {
  color: #ccc;
}

.comic-infos span {
  font-size: 25px;
}

.comic-infos p {
  margin-top: 5px;
  font-size: 15px;
  line-height: 18px;
  color: #ccc;
}

.comic-infos p span {
  font-weight: bold;
  font-size: 18px;
}

.thumbnail img {
  width: 100px;
  margin-right: 20px;
}
