@import "../../commom/scss/variables";

.current-thumbnail img {
  width: 320px;
  margin-right: 20px;
}

.current-infos {
  display: flex;
  flex-direction: column;

  h1 {
    color: $gray-4;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;

    strong {
      color: $gray-2;
    }
  }

  h2 {
    color: $gray-4;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;

    strong {
      color: $gray-2;
    }
  }

  span {
    font-size: 25px;
  }

  p {
    margin-top: 5px;
    font-size: 20px;
    line-height: 25px;
    color: $gray-4;

    strong {
      color: $gray-2;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid $white;
    transition: all 1s linear;

    margin-top: 10px;
    padding: 20px;
    background: $white;
    -webkit-box-shadow: 2px -1px 18px -5px rgba(184, 177, 184, 1);
    -moz-box-shadow: 2px -1px 18px -5px rgba(184, 177, 184, 1);
    box-shadow: 2px -1px 18px -5px rgba(184, 177, 184, 1);

    &:hover {
      border: 2px solid $gray-6;
    }

    li {
      list-style: none;
      display: inline-block;
    }
  }
}
