//colors
$white: #ffffff;
$black: #000000;
$color_spring_wood: #f9f4f2;
$alabaster: #fafafa;

$color_pink_swan: #b8bab9;
$color_manatee: #9394a1;
$color_nevada: #616e80;
$color_tapa: #767676;
$color_slate_gray: #707f8e;
$color_pickled_bluewood: #34495e;
$color_affair: #6f4f9b;
$color_fuchsia_blue: #883cc3;
$color_turquoise: #33d4c7;
$color_olivine: #94b960;
$color_boston_blue: #428bca;
$color_terracotta: #ec6658;
$danger: #ff6c60;
$color_light_orange: #fcb323;
$color_persian_green: #00a99d;

$gray-1: #616e80;
$gray-2: #666666;
$gray-3: #eeeeee;
$gray-4: #aaaaaa;
$gray-5: #f1ebfb;
$gray-6: #999999;

$primary-brand-color-1: #733dd3;
$primary-brand-color-1-hover: #6636ba;
$primary-brand-color-1-active: #582fa1;

$background: #f4f4f4;
